<!DOCTYPE html>
<html lang="en">
<head>
  <title>Feature Based Change Log</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
  <style>
    .px-0-5 {
      padding-left: 0.125rem !important;
      padding-right: 0.125rem !important;
    }
    .px-0-55 {
      padding-right: 0.125rem !important;
    }
  </style>
  <style>
    .col {
    display: flex;
    align-items: center;
  }
  </style>
</head>
<body>
<div class="container mt-3">
  <p><a href="/">Back to index</a></p>
  <h1>
    {{.To}}
  </h1>
  <p class="small mb-3">
    Jump to: {{ jumpLinks . }}
  </p>
  <h3>
    Changes from {{.From}}
  </h3>
  <p>Note: this page shows the Feature-Based Change Log for a release</p>
</div>
{{range $key, $s := .DisplaySections}}
<div class="container mt-3">
  <h2 title="{{$s.Section.Title}}">
    <a id="{{$s.Name}}" href="#{{$s.Name}}" class="text-dark">{{$s.Section.Header}}</a>
  </h2>
  <p>{{$s.Section.Note}}</p>
  <div class="mt-4 col-md-12">
  {{ range $s.Section.Tickets }}
  <div  class="mt-4 col-md-12">
    <div class="card border border-dark border-2">
      <div class="card-header p-0">
        <div class="row row-cols-1">
          <div class="col d-flex align-items-start">
            {{if .Children}}
            <a class="btn px-0-55" data-bs-toggle="collapse" href="#collapse_{{.IssueKey}}" style="font-size: 1.2rem;">
              <i class="bi bi-chevron-down collapse-icon rotate-icon" id="icon_{{.IssueKey}}"></i>
            </a>
            <a class="btn px-0-5" style="text-align: left;font-size: 1.2rem;">{{ .Type }} </a>
            {{else}}
            <a class="btn px-0-55" style="text-align: left;font-size: 1.2rem;">{{ .Type }} </a>
            {{end}}
            {{ if includeKey .IssueKey}}
            <a class="btn px-0-5 link-primary" target="_blank" style="text-align: left;font-size: 1.2rem;" href="https://issues.redhat.com/browse/{{.IssueKey}}">{{ .IssueKey }}:</a>
            {{ end }}
            <a class="btn px-0-5" style="text-align: left;font-size: 1.2rem;"> {{.Summary}}</a>
          </div>
          {{ if or (.Description) (.ReleaseNotes) (.PRs) }}
          <div class="col" >
            {{ if .Description }}
            <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse_description_{{.IssueKey}}" role="button" aria-expanded="false" aria-controls="collapseExample" id="descriptionBtn_{{.IssueKey}}">
              View the Description
            </a>
            {{ end }}
            {{ if .ReleaseNotes }}
            <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse_release_notes_{{.IssueKey}}" role="button" aria-expanded="false" aria-controls="collapseExample" id="release_notes_btn_{{.IssueKey}}">
              View Release Notes
            </a>
            {{ end }}
            {{ if .PRs }}
            <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse_PRs_{{.IssueKey}}" role="button" aria-expanded="false" aria-controls="collapseExample" id="release_notes_btn_{{.IssueKey}}">
              View the PRs linked with this Card
            </a>
            {{ end }}
          </div>
          {{ if .Description }}
          <div class="collapse" id="collapse_description_{{.IssueKey}}">
            <div class="card card-body border-light">
              {{ .Description }}
            </div>
          </div>
          {{ end }}
          {{ if .ReleaseNotes }}
          <div class="collapse" id="collapse_release_notes_{{.IssueKey}}">
            <div class="card card-body border-light">
              {{ .ReleaseNotes }}
            </div>
          </div>
          {{ end }}
          {{ if .PRs }}
          <div class="collapse" id="collapse_PRs_{{.IssueKey}}">
            <div class="card card-body border-light">
              <ul>
                {{- range .PRs}}
                <li><a target="_blank" href="{{.}}">{{.}}</a></li>
                {{- end}}
              </ul>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div id="collapse_{{.IssueKey}}" class="collapse" data-bs-parent="#accordion_{{.IssueKey}}">
        <div class="card-body">
          {{- if .Children }}
          {{- range .Children }}
          {{- template "test2" . }}
          {{- end}}
          {{- end}}
        </div>
      </div>
    </div>
    </div>
  {{ end }}
  </div>
</div>
{{ end }}
<div  class="mt-2 col-md-12"><br><br> </div>
<script>
  // Add click event listener to rotate the icon
  const icons = document.querySelectorAll('.collapse-icon');
  icons.forEach(icon => {
    icon.addEventListener('click', () => {
      icon.classList.toggle('bi-chevron-down');
      icon.classList.toggle('bi-chevron-up');
    });
  });
</script>
<script>
  const descriptionBtns = document.querySelectorAll('.btn[data-bs-toggle="collapse"]');
  descriptionBtns.forEach(btn => {
    btn.addEventListener('click', () => {
      const btnText = btn.textContent.trim();
      if (btnText === 'View the Description') {
        btn.textContent = 'Hide the Description';
      }
      if (btnText === 'Hide the Description') {
        btn.textContent = 'View the Description';
      }
      if (btnText === 'View Release Notes') {
        btn.textContent = 'Hide Release Notes';
      }
      if (btnText === 'Hide Release Notes') {
        btn.textContent = 'View Release Notes';
      }
      if (btnText === 'View the PRs linked with this Card') {
        btn.textContent = 'Hide the PRs linked with this Card';
      }
      if (btnText === 'Hide the PRs linked with this Card') {
        btn.textContent = 'View the PRs linked with this Card';
      }
    });
  });
</script>
</body>
</html>


{{- define "test2" -}}
<div id="accordion_{{.IssueKey}}">
  <div  class="mt-2 col-md-12">
    <div class="card border border-dark border-opacity-50 border-2">
      <div class="card-header p-0">
        <div class="row row-cols-1">
          <div class="col d-flex align-items-start">
            {{if .Children}}
            <a class="btn px-0-55" data-bs-toggle="collapse" href="#collapse_{{.IssueKey}}" style="font-size: 1rem;">
              <i class="bi bi-chevron-down collapse-icon rotate-icon" id="icon_{{.IssueKey}}"></i>
            </a>
            <a class="btn px-0-5" style="text-align: left;font-size: 1rem;">{{ .Type }} </a>
            {{else}}
            <a class="btn px-0-55" style="text-align: left;font-size: 1rem;">{{ .Type }} </a>
            {{end}}
            <a class="btn px-0-5 link-primary" target="_blank" style="text-align: left;font-size: 1.1rem;" href="https://issues.redhat.com/browse/{{.IssueKey}}">{{ .IssueKey }}:</a>
            <a class="btn px-0-5" style="text-align: left;font-size: 1.1rem;"> {{.Summary}}</a>
          </div>
          {{ if or (.Description) (.ReleaseNotes) (.PRs) }}
          <div class="col" >
            {{ if .Description }}
            <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse_description_{{.IssueKey}}" role="button" aria-expanded="false" aria-controls="collapseExample" id="descriptionBtn_{{.IssueKey}}">
              View the Description
            </a>
            {{ end }}
            {{ if .ReleaseNotes }}
            <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse_release_notes_{{.IssueKey}}" role="button" aria-expanded="false" aria-controls="collapseExample" id="release_notes_btn_{{.IssueKey}}">
              View Release Notes
            </a>
            {{ end }}
            {{ if .PRs }}
            <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse_prs_{{.IssueKey}}" role="button" aria-expanded="false" aria-controls="collapseExample" id="release_notes_btn_{{.IssueKey}}">
              View the PRs linked with this Card
            </a>
            {{ end }}
          </div>
          {{ if .Description }}
          <div class="collapse" id="collapse_description_{{.IssueKey}}">
            <div class="card card-body border-light">
              {{ .Description }}
            </div>
          </div>
          {{ end }}
          {{ if .ReleaseNotes }}
          <div class="collapse" id="collapse_release_notes_{{.IssueKey}}">
            <div class="card card-body border-light">
              {{ .ReleaseNotes }}
            </div>
          </div>
          {{ end }}
          {{ if .PRs }}
          <div class="collapse" id="collapse_prs_{{.IssueKey}}">
            <div class="card card-body border-light">
              <ul>
                {{- range .PRs}}
                <li><a target="_blank" href="{{.}}">{{.}}</a></li>
                {{- end}}
              </ul>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div id="collapse_{{.IssueKey}}" class="collapse" data-bs-parent="#accordion_{{.IssueKey}}">
        <div class="card-body">
          {{- if .Children }}
          {{- range .Children }}
          {{- template "temp3" . }}
          {{- end}}
          {{- end}}
        </div>
      </div>
    </div>
  </div>
</div>

{{- end -}}


{{- define "temp3" -}}
<div id="accordion_{{.IssueKey}}">
  <div  class="mt-2 col-md-12">
    <div class="card border border-dark border-opacity-25 border-2">
      <div class="card-header p-0">
        <div class="row row-cols-1">
          <div class="col d-flex align-items-start">
            {{if .Children}}
            <a class="btn px-0-55" data-bs-toggle="collapse" href="#collapse_{{.IssueKey}}" style="font-size: 1rem;">
              <i class="bi bi-chevron-down collapse-icon rotate-icon" id="icon_{{.IssueKey}}"></i>
            </a>
            <a class="btn px-0-5" style="text-align: left;font-size: 1rem;">{{ .Type }} </a>
            {{else}}
            <a class="btn px-0-55" style="text-align: left;font-size: 1rem;">{{ .Type }} </a>
            {{end}}
            <a class="btn px-0-5 link-primary" target="_blank" style="text-align: left;font-size: 1rem;" href="https://issues.redhat.com/browse/{{.IssueKey}}">{{ .IssueKey }}:</a>
            <a class="btn px-0-5" style="text-align: left;font-size: 1rem;"> {{.Summary}}</a>
          </div>
          {{ if or (.Description) (.ReleaseNotes) (.PRs) }}
          <div class="col" >
            {{ if .Description }}
            <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse_description_{{.IssueKey}}" role="button" aria-expanded="false" aria-controls="collapseExample" id="descriptionBtn_{{.IssueKey}}">
              View the Description
            </a>
            {{ end }}
            {{ if .ReleaseNotes }}
            <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse_release_notes_{{.IssueKey}}" role="button" aria-expanded="false" aria-controls="collapseExample" id="release_notes_btn_{{.IssueKey}}">
              View Release Notes
            </a>
            {{ end }}
            {{ if .PRs }}
            <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse_prs_{{.IssueKey}}" role="button" aria-expanded="false" aria-controls="collapseExample" id="release_notes_btn_{{.IssueKey}}">
              View the PRs linked with this Card
            </a>
            {{ end }}
          </div>
          {{ if .Description }}
          <div class="collapse" id="collapse_description_{{.IssueKey}}">
            <div class="card card-body border-light">
              {{ .Description }}
            </div>
          </div>
          {{ end }}
          {{ if .ReleaseNotes }}
          <div class="collapse" id="collapse_release_notes_{{.IssueKey}}">
            <div class="card card-body border-light">
              {{ .ReleaseNotes }}
            </div>
          </div>
          {{ end }}
          {{ if .PRs }}
          <div class="collapse" id="collapse_prs_{{.IssueKey}}">
            <div class="card card-body border-light">
              <ul>
                {{- range .PRs}}
                <li><a target="_blank" href="{{.}}">{{.}}</a></li>
                {{- end}}
              </ul>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div id="collapse_{{.IssueKey}}" class="collapse" data-bs-parent="#accordion_{{.IssueKey}}">
        <div class="card-body">
          {{- if .Children }}
          {{- range .Children }}
          {{- template "temp4" . }}
          {{- end}}
          {{- end}}
        </div>
      </div>
    </div>
  </div>
</div>
{{- end -}}

{{- define "temp4" -}}
<div id="accordion_{{.IssueKey}}">
  <div  class="mt-2 col-md-12">
    <div class="card border border-dark border-opacity-0 border-2">
      <div class="card-header p-0">
        <div class="row row-cols-1">
          <div class="col d-flex align-items-start">
            {{if .Children}}
            <a class="btn px-0-55" data-bs-toggle="collapse" href="#collapse_{{.IssueKey}}" style="font-size: 1rem;">
              <i class="bi bi-chevron-down collapse-icon rotate-icon" id="icon_{{.IssueKey}}"></i>
            </a>
            <a class="btn px-0-5" style="text-align: left;font-size: 1rem;">{{ .Type }} </a>
            {{else}}
            <a class="btn px-0-55" style="text-align: left;font-size: 1rem;">{{ .Type }} </a>
            {{end}}
            <a class="btn px-0-5 link-primary" target="_blank" style="text-align: left;font-size: 1rem;" href="https://issues.redhat.com/browse/{{.IssueKey}}">{{ .IssueKey }}:</a>
            <a class="btn px-0-5" style="text-align: left;font-size: 1rem;"> {{.Summary}}</a>
          </div>
          {{ if or (.Description) (.ReleaseNotes) (.PRs) }}
          <div class="col" >
            {{ if .Description }}
            <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse_description_{{.IssueKey}}" role="button" aria-expanded="false" aria-controls="collapseExample" id="descriptionBtn_{{.IssueKey}}">
              View the Description
            </a>
            {{ end }}
            {{ if .ReleaseNotes }}
            <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse_release_notes_{{.IssueKey}}" role="button" aria-expanded="false" aria-controls="collapseExample" id="release_notes_btn_{{.IssueKey}}">
              View Release Notes
            </a>
            {{ end }}
            {{ if .PRs }}
            <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse_prs_{{.IssueKey}}" role="button" aria-expanded="false" aria-controls="collapseExample" id="release_notes_btn_{{.IssueKey}}">
              View the PRs linked with this Card
            </a>
            {{ end }}
          </div>
          {{ if .Description }}
          <div class="collapse" id="collapse_description_{{.IssueKey}}">
            <div class="card card-body border-light">
              {{ .Description }}
            </div>
          </div>
          {{ end }}
          {{ if .ReleaseNotes }}
          <div class="collapse" id="collapse_release_notes_{{.IssueKey}}">
            <div class="card card-body border-light">
              {{ .ReleaseNotes }}
            </div>
          </div>
          {{ end }}
          {{ if .PRs }}
          <div class="collapse" id="collapse_prs_{{.IssueKey}}">
            <div class="card card-body border-light">
              <ul>
                {{- range .PRs}}
                <li><a target="_blank" href="{{.}}">{{.}}</a></li>
                {{- end}}
              </ul>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div id="collapse_{{.IssueKey}}" class="collapse" data-bs-parent="#accordion_{{.IssueKey}}">
        <div class="card-body">
          {{- if .Children }}
          {{- range .Children }}
          {{- template "temp3" . }}
          {{- end}}
          {{- end}}
        </div>
      </div>
    </div>
  </div>
</div>
{{- end -}}